{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4">Sobre Mim</h1>
  <p>Olá! Eu sou Moisés Souza, engenheiro de software com experiência em desenvolvimento web, mobile e cibersegurança. Estou sempre em busca de novos desafios e aprendizado constante para evoluir na carreira.</p>

  <h3>Conecte-se comigo</h3>
  <ul>
    <li><a href="https://github.com/LinuxEater" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><a href="https://linkedin.com/in/moisés-souza-6746a3190/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    <li><a href="mailto:moisessouzasantos001@gmail.com">Email</a></li>
  </ul>
</div>
{% endblock %}